%html
  %head
    %title
    %link(rel="stylesheet" type="text/css" href="/css/base.css")
    %link(rel="stylesheet" type="text/css" href="/css/layout.css")
    %link(rel="stylesheet" type="text/css" href="/css/skeleton.css")
    %link(rel="stylesheet" type="text/css" href="/css/custom.css")
  %body
    %footer
      %div.container
        %div.float-left Station FM
        %div.float-right.station-website stationfm.co.uk
    %div.container
      = yield