.inner:before, .inner:after {
  content:"";
  display:table;
}

.inner:after {
  clear:both;
}

.inner {
  zoom:1;
}

body {
  margin: 0;
  background-size: 100% auto, 50%;
  font-family: 'Helvetica Neue';
  background: -webkit-linear-gradient(top, #7abcff 0%, #46729D 100%);
}

#slide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1, h2 {
  color: #fff;
  font-weight: normal;
  margin: 0 0 0 0;
  margin-right: 16px;
  div.inner {
    background: rgba(0, 0, 0, 0.5);
    padding: 45px 10px 5px 10px;
    margin-top: -30px;
    -webkit-transform: skewY(-1deg);
    clear: both;
    div {
      float: left;
    }
    div.on-air {
      font-size: 50%;
      background: rgba(0, 0, 0, 0.5);
      padding: 0.4em 0.7em;
      margin: 0.3em 0.7em 0 0;
      -webkit-border-radius: 3px;
    }
  }
}

h2 div {
  background: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  -webkit-transform: skewY(-1deg);
  -webkit-border-bottom-right-radius: 40px;
}

.logo {
  border-top: 1px solid #777;
  background-position: 10px 10px;
  padding: 10px;
  background-repeat: no-repeat;
  background-image: url('http://s3.mediauk.com/logos/50/309.png');
  background-color: rgba(255, 255, 255, 1);
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
}