#slide.tube.inner
  %h2
    %div.inner
      Tube Status
  %ul
    %li
      %div.line.central
        %div.inner Central
      %div.status.good 
        %div.inner Good Service
    %li
      %div.line.victoria
        %div.inner Victoria
      %div.status.minor
        %div.inner Minor Delays